@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<img src="https://tambomas.pe/images/left-man.png"/>
<h3>Somos una cadena de practi-tiendas que ofrece los beneficios del canal moderno en un nuevo formato, buscando estar cada vez más cerca de nuestros clientes.Pertenecemos a Lindcorp Retail, grupo de empresas de la familia Lindley, quienes han estado comprometidos por décadas con el desarrollo del país.Abrimos nuestra primera tienda, en Abril del 2015, en Comas y desde ese día no hemos parado. Contamos a la fecha con más de 196 tiendas, lo que nos convierte en la cadena de tiendas de conveniencia más grande del país.Hoy día ofrecemos empleo digno a más de 1400 personas y somos una empresa 100% peruana.</h3>
