@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>

<address>
    Prolongacion Primavera 2305<br />
    Lima, Lima 18<br />
    <abbr title="Phone">P:</abbr>
    970 367 196
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:me@tambo.com">me@tambo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@tambo.com">marketing@tambo.com</a>
</address>