USE [master]
GO
/****** Object:  Database [tambo#]    Script Date: 21/09/2018 19:29:31 ******/
CREATE DATABASE [tambo#]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tambo#', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\tambo#.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tambo#_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\tambo#_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tambo#].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tambo#]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[telefono] [varchar](50) NULL,
	[edad] [int] NULL,
	[dni] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idProducto] [int] NOT NULL,
	[idVenta] [int] NOT NULL,
	[cantidad] [int] NULL,
	[subtotal] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inventario](
	[id] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MetodoDeEntrega]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MetodoDeEntrega](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idMotorizado] [int] NULL,
	[direccionEntrega] [varchar](100) NULL,
	[direccionTienda] [varchar](100) NULL,
	[horaMax] [varchar](50) NULL,
 CONSTRAINT [PK_MetodoDeEntrega] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Motorizado]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Motorizado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTienda] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[calificacion] [float] NULL,
 CONSTRAINT [PK_Motorizado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idMarca] [int] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[precio] [money] NULL,
	[codigo] [int] NULL,
	[fechaCaducidad] [date] NULL,
	[estado] [varchar](50) NULL,
	[categoria] [varchar](50) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto_Inventario]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto_Inventario](
	[idInventario] [varchar](50) NOT NULL,
	[idProducto] [int] NOT NULL,
	[stock] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](100) NULL,
	[telefono] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[email] [varchar](50) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tienda]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tienda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
 CONSTRAINT [PK_Tienda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTienda] [int] NULL,
	[idMetodoDeEntrega] [int] NULL,
	[idCliente] [int] NULL,
	[fecha] [date] NULL,
	[descuento] [money] NULL,
	[total] [money] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Producto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Venta] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Venta]
GO
ALTER TABLE [dbo].[MetodoDeEntrega]  WITH CHECK ADD  CONSTRAINT [FK_MetodoDeEntrega_Motorizado] FOREIGN KEY([idMotorizado])
REFERENCES [dbo].[Motorizado] ([id])
GO
ALTER TABLE [dbo].[MetodoDeEntrega] CHECK CONSTRAINT [FK_MetodoDeEntrega_Motorizado]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Marca] FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marca] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Marca]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
ALTER TABLE [dbo].[Producto_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Inventario_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Producto_Inventario] CHECK CONSTRAINT [FK_Producto_Inventario_Producto]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_MetodoDeEntrega] FOREIGN KEY([idMetodoDeEntrega])
REFERENCES [dbo].[MetodoDeEntrega] ([id])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_MetodoDeEntrega]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CLIENTE]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_CLIENTE]
	
AS
BEGIN
	SELECT * FROM Cliente
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DETALLE_VENTA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_DETALLE_VENTA]
	
AS
BEGIN
	SELECT * FROM DetalleVenta
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_INVENTARIO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_INVENTARIO]
	
AS
BEGIN
	SELECT * FROM Inventario
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_MARCA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_MARCA]
	
AS
BEGIN
	SELECT * FROM Marca
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_METODO_DE_ENTREGA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_METODO_DE_ENTREGA]
	
AS
BEGIN
	SELECT * FROM MetodoDeEntrega
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_MOTORIZADO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_MOTORIZADO]
	
AS
BEGIN
	SELECT * FROM Motorizado
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_PRODUCTO]
	
AS
BEGIN
	SELECT * FROM Producto
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTO_INVENTARIO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_PRODUCTO_INVENTARIO]
	
AS
BEGIN
	SELECT * FROM Producto_Inventario
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PROVEEDOR]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_PROVEEDOR]
	
AS
BEGIN
	SELECT * FROM Proveedor
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_TIENDA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_TIENDA]
	
AS
BEGIN
	SELECT * FROM Tienda
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_VENTA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_VENTA]
	
AS
BEGIN
	SELECT * FROM Venta
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_CLIENTE]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_CLIENTE](
	@NOMBRE AS VARCHAR(50),
	@APELLIDO AS VARCHAR(50),
	@DIRECCION AS VARCHAR(100),
	@TELEFONO AS VARCHAR(50),
	@EDAD AS INT,
	@DNI AS VARCHAR(50)
)
AS
BEGIN
	INSERT INTO Cliente VALUES(@NOMBRE,@APELLIDO,@DIRECCION,@TELEFONO,@EDAD,@DNI)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_DETALLE_VENTA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_DETALLE_VENTA](
	@IDPRODUCTO AS INT,
	@IDVENTA AS INT,
	@CANTIDAD AS INT,
	@SUBTOTAL AS MONEY
)
AS
BEGIN
	INSERT INTO DetalleVenta VALUES(@IDPRODUCTO, @IDVENTA, @CANTIDAD, @SUBTOTAL)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_INVENTARIO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_INVENTARIO](
	@DESCRIPCION AS VARCHAR(50)
)
AS
BEGIN
	INSERT INTO Inventario VALUES(@DESCRIPCION)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_MARCA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_MARCA](
	@NOMBRE AS VARCHAR(50),
	@DESCRIPCION AS VARCHAR(50)
)
AS
BEGIN
	INSERT INTO Marca VALUES(@NOMBRE, @DESCRIPCION)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_METODO_DE_ENTREGA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_METODO_DE_ENTREGA](
	@ID_MOTORIZADO AS INT,
	@DIRECCION_ENTREGA AS VARCHAR(100),
	@DIRECCION_TIENDA AS VARCHAR(100),
	@HORA_MAX AS VARCHAR(50)
)
AS
BEGIN
	INSERT INTO MetodoDeEntrega VALUES(@ID_MOTORIZADO, @DIRECCION_ENTREGA, @DIRECCION_TIENDA, @HORA_MAX)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_MOTORIZADO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_MOTORIZADO](
	@ID_TIENDA AS INT,
	@NOMBRE AS VARCHAR(50),
	@CALIFICACION AS FLOAT
)
AS
BEGIN
	INSERT INTO Motorizado VALUES(@ID_TIENDA, @NOMBRE, @CALIFICACION)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_PRODUCTO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_PRODUCTO](
	@ID_MARCA AS INT,
	@ID_PROVEEDOR AS INT,
	@NOMBRE AS VARCHAR(50),
	@DESCRIPCION AS VARCHAR(50),
	@PRECIO AS MONEY,
	@CODIGO AS INT,
	@FECHA_CADUCIDAD AS DATE,
	@ESTADO AS VARCHAR(50),
	@CATEGORIA AS VARCHAR(50)
)
AS
BEGIN
	INSERT INTO Producto VALUES(@ID_MARCA, @ID_PROVEEDOR, @NOMBRE, @DESCRIPCION, @PRECIO, @CODIGO, @FECHA_CADUCIDAD, @ESTADO, @CATEGORIA)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_PRODUCTO_INVENTARIO]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_PRODUCTO_INVENTARIO](
	@ID_PRODUCTO AS INT,
	@ID_INVENTARIO AS INT,
	@STOCK AS INT	
)
AS
BEGIN
	INSERT INTO Producto_Inventario VALUES(@ID_PRODUCTO, @ID_INVENTARIO, @STOCK)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_PROVEEDOR]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_PROVEEDOR](
	@NOMBRE AS VARCHAR(50),
	@DESCRIPCION AS VARCHAR(100),
	@TELEFONO AS VARCHAR(50),
	@DIRECCION AS VARCHAR(100),
	@EMAIL AS VARCHAR(50)
)
AS
BEGIN
	INSERT INTO Proveedor VALUES(@NOMBRE, @DESCRIPCION, @TELEFONO, @DIRECCION, @EMAIL)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_TIENDA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_TIENDA](
	@NOMBRE AS VARCHAR(50),
	@TELEFONO AS VARCHAR(50),
	@DIRECCION AS VARCHAR(50),
	@ESTADO AS VARCHAR(50)
)
AS
BEGIN
	INSERT INTO Tienda VALUES(@NOMBRE, @TELEFONO, @DIRECCION, @ESTADO)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_VENTA]    Script Date: 21/09/2018 19:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_VENTA](
	@ID_TIENDA AS INT,
	@ID_METODO_DE_ENTREGA AS INT,
	@ID_CLIENTE AS INT,
	@FECHA AS DATE,
	@DESCUENTO AS MONEY,
	@TOTAL AS MONEY
)
AS
BEGIN
	INSERT INTO Venta VALUES(@ID_TIENDA, @ID_METODO_DE_ENTREGA, @ID_CLIENTE, @FECHA, @DESCUENTO, @TOTAL)
END


GO
USE [master]
GO
