USE [master]
GO
/****** Object:  Database [tambo]    Script Date: 10/11/2018 2:02:28 AM ******/
CREATE DATABASE [tambo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tambo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\tambo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tambo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\tambo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tambo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tambo]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inventarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Inventarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marcas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto_Inventario]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_Inventario](
	[id_inventario] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[stock] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_marca] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[id_categoria] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tiendas]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tiendas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[id_inventario] [int] NOT NULL,
 CONSTRAINT [PK_Tiendas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Producto_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Inventario_Inventarios] FOREIGN KEY([id_inventario])
REFERENCES [dbo].[Inventarios] ([id])
GO
ALTER TABLE [dbo].[Producto_Inventario] CHECK CONSTRAINT [FK_Producto_Inventario_Inventarios]
GO
ALTER TABLE [dbo].[Producto_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Inventario_Productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[Producto_Inventario] CHECK CONSTRAINT [FK_Producto_Inventario_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([id_marca])
REFERENCES [dbo].[Marcas] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[Tiendas]  WITH CHECK ADD  CONSTRAINT [FK_Tiendas_Inventarios] FOREIGN KEY([id_inventario])
REFERENCES [dbo].[Inventarios] ([id])
GO
ALTER TABLE [dbo].[Tiendas] CHECK CONSTRAINT [FK_Tiendas_Inventarios]
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARCATEGORIA]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ELIMINARCATEGORIA]
	(@COD int
)
AS
BEGIN
	SET NOCOUNT ON;

  
	DELETE Categorias WHERE id=@COD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARMARCA]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ELIMINARMARCA]
	(@COD int
)
AS
BEGIN
	SET NOCOUNT ON;

  
	DELETE Marcas WHERE id=@COD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARPRODUCTO]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ELIMINARPRODUCTO]
	(@COD int
)
AS
BEGIN
	SET NOCOUNT ON;

  
	DELETE Productos WHERE id=@COD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CATEGORIAS]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_CATEGORIAS]
AS
BEGIN
	SELECT * FROM Categorias
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DETALLE_INVENTARIO]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_DETALLE_INVENTARIO](
	@IDINVENTARIO as int
)
AS
BEGIN
	SELECT * from Producto_Inventario where id_inventario = @IDINVENTARIO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_INVENTARIO_DIRECCION]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_INVENTARIO_DIRECCION](
	@DIRECCION as varchar
)
AS
BEGIN
	SELECT * FROM Inventarios where descripcion = @DIRECCION
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_INVENTARIOS]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_INVENTARIOS]
AS
BEGIN
	SELECT * FROM Inventarios
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_MARCAS]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_MARCAS]
AS
BEGIN
	SELECT * FROM Marcas
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTO_INVENTARIO]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_PRODUCTO_INVENTARIO]
AS
BEGIN
	SELECT * FROM Producto_Inventario
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTOS]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_PRODUCTOS]
AS
BEGIN
	SELECT * FROM Productos
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_TIENDAS]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_TIENDAS]
AS
BEGIN
	SELECT * FROM Tiendas
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_CATEGORIA]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_CATEGORIA](@NOMBRE AS VARCHAR(50))
AS
BEGIN
	INSERT INTO Categorias VALUES(@NOMBRE)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_INVENTARIO]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_INVENTARIO](@DESCRIPCION AS VARCHAR(50))
AS
BEGIN
	INSERT INTO Inventarios VALUES (@DESCRIPCION)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_MARCA]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_MARCA](@NOMBRE AS VARCHAR(50), @DESCRIPCION AS VARCHAR(50))
AS
BEGIN
	INSERT INTO Marcas VALUES (@NOMBRE, @DESCRIPCION)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_PRODUCTO]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_PRODUCTO](@ID_MARCA AS INT, @NOMBRE AS VARCHAR(50), @DESCRIPCION AS VARCHAR(50), @PRECIO AS FLOAT, @FECHA_VENCIMIENTO AS DATE, @CODIGO AS VARCHAR(50), @ID_CATEGORIA AS INT)
AS
BEGIN
	INSERT INTO Productos VALUES (@ID_MARCA, @NOMBRE, @DESCRIPCION, @PRECIO, @FECHA_VENCIMIENTO, @CODIGO, @ID_CATEGORIA)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_PRODUCTO_INVENTARIO]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_PRODUCTO_INVENTARIO](@ID_INVENTARIO AS INT, @ID_PRODUCTO AS INT, @STOCK AS INT)
AS
BEGIN
	INSERT INTO Producto_Inventario VALUES (@ID_INVENTARIO, @ID_PRODUCTO, @STOCK)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_TIENDA]    Script Date: 10/11/2018 2:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REGISTRAR_TIENDA](@NOMBRE AS VARCHAR(50), @TELEFONO AS VARCHAR(50), @DIRECCION AS VARCHAR(50), @ID_INVENTARIO AS INT)
AS
BEGIN
	INSERT INTO Tiendas VALUES (@NOMBRE, @TELEFONO, @DIRECCION, @ID_INVENTARIO)
END


GO
USE [master]
GO
