USE [master]
GO
/****** Object:  Database [tambo]    Script Date: 08/09/2018 16:26:01 ******/
CREATE DATABASE [tambo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tambo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\tambo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tambo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\tambo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tambo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tambo]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[precio] [float] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [float] NOT NULL,
	[idTienda] [int] NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VentaItem]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[idVenta] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
 CONSTRAINT [PK_VentaItem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_ITEM_VENTA]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_ITEM_VENTA](
	@ID AS INT
)
AS
BEGIN
	DELETE FROM VentaItem WHERE id = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_PRODUCTO]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_PRODUCTO](
	@ID as int
)
AS
BEGIN
	DELETE FROM Producto WHERE id = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_VENTA]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_VENTA](
	@ID AS INT
)
AS
BEGIN
	DELETE FROM Venta WHERE id = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_ITEM_VENTA]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_ITEM_VENTA]
AS
BEGIN
	SELECT * FROM VentaItem
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTOS]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Enzo Lizama
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_PRODUCTOS] 
AS
BEGIN
	SELECT * FROM Producto
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_VENTAS]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_VENTAS]
AS
BEGIN
	SELECT * FROM Venta
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_ITEM_VENTA]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRAR_ITEM_VENTA](
	@IDPRODUCTO AS INT, 
	@IDVENTA AS INT,
	@CANTIDAD as int,
	@PRECIO AS FLOAT
)
AS
BEGIN
	INSERT INTO VentaItem VALUES(@IDPRODUCTO,@IDVENTA,@CANTIDAD,@PRECIO)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_PRODUCTO]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRAR_PRODUCTO](
	@NOMBRE as varchar(50),
	@DESCRIPCION as varchar(100),
	@PRECIO as float
)
AS
BEGIN
	INSERT INTO Producto VALUES (@NOMBRE,@DESCRIPCION,@PRECIO)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_VENTA]    Script Date: 08/09/2018 16:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRAR_VENTA](
	@TOTAL AS FLOAT,
	@IDTIENDA AS INT
)
AS
BEGIN
	INSERT INTO Venta VALUES(@TOTAL,  @IDTIENDA)
END

GO
USE [master]
GO
